/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.titutloLbl {
	-fx-font-weight:bold;
	-fx-font-size:25;
}

.gradoLbl {
	-fx-font-weight:bold;
}

.deporteCbx {
	-fx-padding: 0 0 0 5;
}

.label {
    -fx-padding: 0 0 0 5;
}
	
.GridPane {
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}